@(helloForm: Form[(String,Int,String, Int,Option[String])])

@import helper._

@main(title = "Employees details") {

    <h1>Welcome New Employee</h1>

    @form(action = routes.Application.sayHello, args = 'id -> "helloform") {
    	
        @inputText(
            field = helloForm("empFullName"),
            args = '_label -> "Employee full name", 'placeholder -> "Employee name"
        )

        @inputText(
            field = helloForm("empAge"),
            args = '_label -> "Employee age", 'placeholder -> 18
        )
        
        @inputText(
            field = helloForm("email"),
            args = '_label -> "Please provide a valid email address", 'placeholder -> "@your email"
        )

        @inputText(
            field = helloForm("repeat"),
            args = '_label -> "How many times you want to welcome you?", 'size -> 3, 'placeholder -> 10
        )

        @select(
            field = helloForm("color"), 
            options = options(
                "" -> "Default",
                "red" -> "Red",
                "green" -> "Green",
                "blue" -> "Blue"
            ),
            args = '_label -> "Choose a color"
        )

        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }

}
